<h1><%= @header.capitalize %></h1>

<h2>Email:</h2>
<p><%= @email %></p>

<h2>Interests:</h2>
<p><%= @interests.join(", ") %></p>

<h2>Other Users</h2>
<ul>
  <% @other_users.each do |name| %>
    <li><a href="/users/<%= name %>"><%= name.capitalize %></a></li>
  <% end %>
</ul>
